
.Banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.Produtos {
    display: flex;
    flex-direction: row;
    gap: 30px;

}
.Produtos #produto1{
    background-color: rgb(181, 211, 186);
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-radius: 10px;
}
section {
    display: flex;
    justify-content: space-around;

}

#imgproduto1 img {
    display: flex;
    margin: 10px;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    border: 3px solid black;
}

.Produtos #infoprodutos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin: 50px;
}
#btnComprar {
    border-radius: 10px;
    background: #6da362;
    color: white;
    font-size: large;
    border-color: #0066A2;
    height: 50px;
    width: 200px;
}


/* -------------------------------- */
/* PAGINA SOBRE  */

article {
    display: flex;
    flex-direction: column;

}
.informacao {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-size: larger;
    font-weight: 200;
}

#bannerSecundario {
    display: flex;
    align-items: center;
    justify-content: center;
}

#bannerSecundario img{
    height: 380px;
}


/* -------------------------------- */
/* PAGINA 50%OFF  */